<!-- Donate buttons -->
<!-- <a class="github-button" href="https://github.com/sponsors/trash-max" data-icon="octicon-heart" aria-label="Sponsor @trash-max on GitHub">Sponsor</a> -->
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="maxtrash" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
<!-- End donate buttons -->